@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');
@import url("https://use.typekit.net/znk4hus.css");

body{
	background-color: #2e3144;
	margin:0;
	overflow-x:hidden;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

hr {
	outline-color: white;
	opacity: 0.2;
	color: #AD49EB;
}

main {
	color: #ebedf9;
	font-family: "coolvetica", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 35px;
	line-height: 60px;
}

/*Custom Scrollbar*/

/*Width*/
::-webkit-scrollbar {
	width: 20px;
}

/*Track*/
::-webkit-scrollbar-track {
	border-radius: 10px;
}

/*handle*/
::-webkit-scrollbar-thumb {
	background: #4557c9;
	border-radius: 10px;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
	background: #495aca;
}


/*NAV STYLES*/

.navbar{
	position:sticky;
	top: 0;
	left: 0;
	width:100%;
	background: #2e3144;
	z-index: 9;
}

.nav{
	padding: 10px 10vw;
	display: flex;
	justify-content: space-between;
}

.TH-LOGO{
	height:120px;
	margin-left:-10%;
}

.nav-items{
	display: flex;
	margin-left:35%;
	padding:30px;
}

.link-container {
	width: 100%;
	display: flex;
	padding: 10px 10vw;
	justify-content: center;
	list-style: none;
	border-top: 1px solid #AD49EB;
}

.link{
	text-transform: capitalize;
	padding: 0 10px;
	margin-left: 0 5px;
	text-decoration: none;
	color: white;
	transition: .3s;
}

.link:hover{
	color: dimgrey
}

.nav-items a{
	margin-left:20px;
}

.nav-items a img{
	width:60px;
}

/*Footer Styles*/
#footer-img {
	margin:0%;
	width: 100%;
	padding-top:2%;
}

footer{
	position: relative;
	text-align: center;
	color: white;
}

.overlay-table{
	position: absolute;
	text-align: center;
	color: #ebedf9;
	top: 30%;
	left: 10%;
	padding-left: 20px;
	border-collapse:collapse;
	height: auto;
}

.overlay-table td {
	padding:10px;
}

.foot-link{
	text-transform: capitalize;
	padding: 0 10px;
	color: #ebedf9;
}

.foot-link-hover{
	opacity:1;
}

.Icon-Container{
	width: 50%;
	display: grid;
	grid-template-columns: 60px 60px 60px;
	grid-gap: 20px;
	position: absolute;
	align-items: center;
	top:45%;
	left:75%;
}



#header {
	background: linear-gradient(to right, #9E56E7, #8749C5, #A459F0, #703CA3, #593081, #41235F);
	height: auto;
	padding: 100px 100px
}

#header h1 {
	color: white;
	font-family: Coolvetica;
	text-align: center;
	letter-spacing: 8px;
	font-size: 150px;
	margin: 0px 0px 30px 0px;
	text-shadow: black 10px 10px;
	
}

.banner-login-btn {
	display: block;
	text-align: center;
	width: 400px;
	margin: 50px 150px;
	padding: 30px;
	color: #AD49EB;
	text-transform: uppercase;
	font-family: Coolvetica;
	border: 2px solid white;
	text-decoration: none;
	border-radius: 10px;
	letter-spacing: 2px;
	background: white;
	font-size: 50px;
	box-shadow: black 10px 10px;
}

#btn-holder {
	width: 100%;
	display: flex;
	padding: 10px 10vw;
	justify-content: center;
	list-style: none;
}

