@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

body{
	background-color: #2e3144;
	margin:0;
	overflow-x:hidden;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

hr{
	outline-color:white;
	opacity: 0.2;
}

main{
	color: #ebedf9;
	font-family: 'Nunito', sans-serif;
	font-size: 35px;
	line-height: 60px;
}

/*Custom Scrollbar*/

/*Width*/
::-webkit-scrollbar {
	width: 20px;
}

/*Track*/
::-webkit-scrollbar-track {
	border-radius: 10px;
}

/*handle*/
::-webkit-scrollbar-thumb {
	background: #4557c9;
	border-radius: 10px;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
	background: #495aca;
}


/*NAV STYLES*/

.navbar{
	position:sticky;
	top: 0;
	left: 0;
	width:100%;
	background: #2e3144;
	z-index: 9;
}

.nav{
	padding: 10px 10vw;
	display: flex;
	justify-content: space-between;
}

.TH-LOGO{
	height:120px;
	margin-left:-10%;
}